PORT=8787
SUPABASE_URL=https://rknphdxrtcftttmapbkx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJrbnBoZHhydGNmdHR0bWFwYmt4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzI3MzU2MSwiZXhwIjoyMDg4ODQ5NTYxfQ.xcssBmTZ9XtJ1QVOUe5k7jU7niKdsZrtOAPSv4oChfk
WHATSAPP_VERIFY_TOKEN=capcol_wh_live_2026_v1
WHATSAPP_ACCESS_TOKEN=EAAcini9DTDoBQ9a4HeBenVTk6c7zY3QIBEcPx99qDGgxCZBiShZA77s9T7RRc28PQ7XP17ZBs3RVWveoFJZBL05ZAlLZBtU2wYiwvnIMmkN6J4oMxhdGQstm7tqHXkEbtZASURZABe6n2kvD33ZB5ZCi2jzz4zzkrwaZCHKyEIiC24bMvj7WmIQBJtBv6V0D56qeQZDZD
WHATSAPP_WABA_ID=1417327493190558
WHATSAPP_PHONE_NUMBER_ID=1026080590587564
WHATSAPP_GRAPH_VERSION=v25.0
WHATSAPP_APP_SECRET=252883b3734a67f6113352ecfa96e3dc
